{:deps
 {philoskim/debux-stubs              {:mvn/version "0.5.6"
                                      :sha "e2ff736ff923c676de655b853180be2503715d88"}}
 :aliases
 {
  :test
  {;:extra-paths ["test" "examples"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-573"}
                lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}}

   :main-opts  ["-m" "kaocha.runner"
                "--plugin" "capture-output"
                "--plugin" "junit-xml"
                "--junit-xml-file" "target/test-results/kaocha/unit-test-result.xml"]}}}



