{:deps
 {philoskim/debux-stubs              {:mvn/version "0.5.6"}
  metosin/malli                      {:git/url "https://github.com/metosin/malli"
                                      :sha "e2ff736ff923c676de655b853180be2503715d88"}}
 :aliases     
 {:test    
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}
                philoskim/debux {:mvn/version "0.5.6"}}}}}

 
 
